.obligationGrid {
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(1, 1fr);
  margin-bottom: 20px;
  align-items: stretch;
}

.obligationCard {
  background-color: #fff;
  border: 1px solid #ddd;
  padding: 12px 16px;
  border-radius: 15px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 70px;
}

.obligationCardHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-items: start;
}

.obligationCardHead h3 {
  margin: 0;
  text-align: start;
}

.obligationCardHead span {
  font-size: 12px;
  padding: 2px 10px;
  border-radius: 12px;
  min-width: 90px;
  padding: 2px 5px;
}

.obligationCardBody {
  margin-top: 6px;
  display: flex;
  gap: 16px;
  font-size: 14px;
  color: #555;
}

@media (min-width: 600px) {
  .obligationGrid {
    grid-template-columns: repeat(2, 1fr);
  }
}